<header>
    <nav class="bg-cyan-700 p-4 w-full shadow-md pb-10">
      <div class="max-w-[1440px] mx-auto flex flex-wrap items-center justify-between">
        <a class="text-xl font-bold text-cyan-50" href="/">Desafio Ricky e Morty</a>
        <button class="block lg:hidden text-cyan-50 hover:text-cyan-900 focus:outline-none focus:ring-2 focus:ring-cyan-400" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
        <div class="w-full lg:flex lg:w-auto hidden lg:block" id="navbarNav">
          <ul class="flex flex-col lg:flex-row lg:space-x-8 mt-2 lg:mt-0">
            <li class="nav-item">
              <a class="text-cyan-50 hover:text-cyan-900 px-2 py-1 block" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="text-cyan-50 hover:text-cyan-900 px-2 py-1 block" href="/lista">JSON Data</a>
            </li>
            <li class="nav-item">
              <a class="text-cyan-50 hover:text-cyan-900 px-2 py-1 block" href="/episodios">Episódios</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  